body,html{
    padding:0;
    margin:0;
    /*overflow: hidden;*/
    overflow-x:hidden;
    overflow-y:hidden;
    font-size:24px;
    font-weight: bold;
}
body[data-page="chooser"]{
    overflow-y:auto;
}
p{
    font-size:21px;
    font-weight: bold;
}
.btn-lg{
    font-size:24px;
    font-weight: bold;
}
.headernav{
    z-index:1000;
    margin:0;
}
.navbar-brand{
    padding: 5px 21px;
}
.bgAnimation{
    position:absolute;
    top:0;
    left:0;
    z-index: -1000;
    opacity:0.3;
}
.bx-wrapper{
    height:100%;
    margin-bottom:0px;
}
.bx-wrapper .bx-pager{
    height: 50px;
    padding-top:0px;
    margin-top:-75px;
}
.bx-wrapper .bx-viewport {
-moz-box-shadow: 0 0 0px #ccc;
-webkit-box-shadow: 0 0 0px #ccc;
box-shadow: 0 0 0px #ccc;
border: 0px solid #fff;
left: -0px;
background: transparent;
-webkit-transform: translatez(0);
-moz-transform: translatez(0);
-ms-transform: translatez(0);
-o-transform: translatez(0);
transform: translatez(0);
height:auto !important;
}
/*.bx-wrapper .bx-pager{
    color:#fff;
}
.bx-wrapper .bx-pager.bx-default-pager a{
    background:#ededed;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
    color:#fff;
    background:#fff;
}*/
.search-page-top > div{
    height:100%;
}

.navbar-nav.footer{
    width:100%;
    padding:0;
    margin:0;
    height:70px;
}
.navbar-nav.footer li a{
    height:70px;
    padding-top:23px;
}
.navbar-nav.footer .back{
    text-align:left;
}
.navbar-nav.footer .home{
    text-align:center;
}
.navbar-nav.footer .next{
    text-align:right;
}
.palette a {
    color:#FFF;
}
.container{
    z-index: 1000;
}
.tile-image.big-illustration {
height: 80px;
margin: 20px;
width: 80px;
}

/* nutrition slide start */
#health_score{
    font-weight: 800;
    clear:both;
    margin-top:10px;
}
#rating, .nutrition_text{
    display:inline;
    float:left;
    padding-top:0px;
    margin-right:5px;
}
.heart_icon{
    display:inline;
    float:left;
    width:25px;
    padding-top:5px;
    margin-right:2px;
}
.nutrition_icon{
    display:inline;
    float:left;
    width:40px;
    padding-top:5px;
    margin-right:2px;
    clear:both;
}
.nutrition_text{
    padding-top: 6px;
}
.slide{
}
img.hamster{
    
}
/* nutrition slide end */